<div class="row justify-content-center m-3">
    <div class="col-4 p-3 bg-dark-subtle rounded">
        <h1>Edit</h1>
        <p>Update product</p>
        <hr>

        <form action="/admin/product/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="addProductForm">
            <div class="mb-3">
                <label class="form-label text-dark" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" value="<%= product.name %>" />
                <span class="text-danger label-error invisible" id="nameError">Error</span>
            </div>

            <div class="mb-3">
                <label class="form-label text-dark" for="price">Price</label>
                <input class="form-control" type="number" id="price" name="price" value="<%= product.price %>" />
                <span class="text-danger label-error invisible" id="priceError">Error</span>
            </div>

            <div class="mb-3">
                <label class="form-label text-dark" for="description">Description</label>
                <textarea class="form-control" id="description" name="description"><%= product.description %></textarea>
                <span class="text-danger label-error invisible" id="descriptionError">Error</span>
            </div>

            <label class="form-label text-dark" for="image">Image</label>
            <input class="form-control" type="file" id="image" name="image">
            <input type="hidden" value="<%= product.imageUrl %>" name="imageUrl">

            <button class="btn btn-primary float-end w-25 mt-3" type="submit">Update</button>
        </form>
    </div>
</div>

<script>
    const nameInput = document.getElementById('name')
    const nameError = document.getElementById('nameError')

    const priceInput = document.getElementById('price')
    const priceError = document.getElementById('priceError')

    const descriptionInput = document.getElementById('description')
    const descriptionError = document.getElementById('descriptionError')

    const form = document.getElementById('addProductForm')

    form.addEventListener('submit', (e) => {
        nameError.classList.add('invisible')
        priceError.classList.add('invisible')
        descriptionError.classList.add('invisible')

        let flag = 0

        const name = nameInput.value
        const price = priceInput.value
        const description = descriptionInput.value

        if (name.length === 0 || name === undefined) {
            nameError.innerText = `Title can't be empty`
            nameError.classList.remove('invisible')
            flag++
        }

        if (price.length === 0 || price === undefined) {
            priceError.innerText = `Price can't be empty`
            priceError.classList.remove('invisible')
            flag++
        }

        if (description.length === 0 || description === undefined) {
            descriptionError.innerText = `Description can't be empty`
            descriptionError.classList.remove('invisible')
            flag++
        }

        if(flag > 0)
            e.preventDefault()
    })
</script>